<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="code" class="org.example.coding">
        <constructor-arg value="32"> </constructor-arg>
        <constructor-arg ref="exe1"> </constructor-arg>
    </bean>

    <bean id="lap" class="org.example.laptop"> </bean>

    <bean id="exe1" class="org.example.ExecutionProcess"> </bean>

</beans>